@import "../../Components/SongBox/SongBox";

.playlist-page-container {
  padding: 4em 2em 0em;
  font-family: "Lato", sans-serif;
  user-select: none;
  &__top {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-column-gap: 3em;
    &__row {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      p {
        color: #aaa;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.35px;
        font-size: 0.95rem;
      }
      h2 {
        font-size: 1.25rem;
      }
      &:first-child {
        width: 100%;
        min-width: 225px;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        img {
          width: 100%;
          border-radius: inherit;
          object-fit: cover;
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        }
      }
      &:last-child {
        margin-top: 1.15em;
      }
      .row__content {
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        &__detail {
          margin-top: 0.5em;
          display: flex;
          gap: 1em;
          p {
            font-weight: 600;
            letter-spacing: 0;
            color: #333;
            font-size: 0.925rem;
          }
        }
      }
      .row__buttons {
        margin-bottom: 1.75em;
        display: flex;
        gap: 1em;
        .play-btn {
          display: flex;
          align-items: center;
          gap: 1em;
          padding: 1em 1.75em;
          border: none transparent;
          outline: none;
          border-radius: 20px;
          background-color: #d85555;
          color: white;
          cursor: pointer;
          i {
            font-size: 0.875rem;
          }
          p {
            font-size: 0.925rem;
            color: white;
          }
        }
      }
    }
  }
  &__bottom {
    padding: 1.85em 0;
    &__box--header {
      display: grid;
      width: 100%;
      grid-template-columns: 0.35fr 0.35fr 0.25fr 0.05fr;
      grid-column-gap: 2em;
      padding: 0.5em 0.5em 1.5em;
      border-bottom: 1px solid #d3d3d3;
      color: #aaa;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

.playlist-page-container__top__row:first-child {
  span:first-child {
    width: 100% !important;
    height: 100% !important;
  }
}

@media only screen and (max-width: 1250px) {
  .playlist-page-container {
    padding: 4em 1.5em 0;
  }
}

@media only screen and (max-width: 1000px) {
  .playlist-page-container {
    padding: 6em 1em 0;
    &__bottom {
      &__box--header {
        display: none;
      }
    }
    &__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
      &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          width: 225px;
          height: 225px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &:last-child {
          margin-top: 0em;
        }
        .row__content {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          &__detail {
            margin: 0 0 1em;
          }
        }
        .row__buttons {
          margin-bottom: 0em;
        }
      }
    }
  }
}
